@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Teko:wght@300;400;500;600;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

/*FOOTER*/
#footer{
    background: #23181A;;
    height: auto;
    display: flex; /* Define o container como um flexbox */
    flex-direction: column; /* Alinha os elementos em coluna */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    
    padding: 4rem;
    gap: 0.62rem;
}

#footer h2{
    color: #FFF2E7;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#footer h2 span{
    color: #FFF2E7;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

#footer h3{
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#footer h3 span{
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}